
.mythos_eins {
    text-align: center;
}

.mythos_eins p {
    text-align: center;
}

.mythos_eins h1 {
    margin-top: 50px;
}

.mythos_eins hr {
    width: 10%;
}

.myth_bg {
    background-color: var(--second-color-info);
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px;
    height: 200px;
    margin-bottom: 30px;
    


}

.myth_content {
    padding: 20px;
}

.myth_headline h2 {

    font-weight: 400;

}





.myth_bg h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.myth_bg_second {
    height: 100px;
    background:linear-gradient(to bottom, var(--second-color-info), var(--primary-color-bg));
}

.quote_container {
    margin: 100px 0 200px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0 30px;
    font-family:  "Roboto Slab", serif;
    position: relative;
    /* animation: typing 4s steps(120) forwards;
    overflow: hidden;
    white-space: nowrap; */
} 


.quote img {
    position: absolute;
    width: 300px;
    height: 300px;
}
/* @keyframes typing {
   from {
      width: 0;
   }
   to {
      width: 120ch;
   }
} */

.quote p {
    text-align: right;
    font-weight: 200;
}


.wrap_grafik {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 100%;
}

.diago_bg_special {

    margin: 20px 0;
    background-color: #889CAF;
    width: 100%;
    padding: 20px 0;
    transform: rotate(-2deg); /* Ändere den Winkel nach Bedarf */
    overflow-x: hidden;
    margin-bottom: 300px;

}



.wrap_grafik hr {

    margin: 0;

}

.world_map_graph {
    position: relative;
    width: 100%;
}

#grafik_erwerbsquote {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;

}


.world_map_graph img{
    max-width: 100%;
}

.info_text {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    margin-bottom: 100px;
}








rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
  }

  .tooltip {
  position: absolute;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  opacity: .75;
}



/* SCROLLYTELLING PART */

.scroll_container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10vh;
    
}

.scroll_text {
    display: flex;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color-info);
    text-align: center;
    margin-top: 600px;
    border-radius: 15px;
    padding: 15px;
    z-index: 100;

}


.scroll_text_two {
    display: flex;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color-info);
    text-align: center;
    margin-top: 600px;
    margin-bottom: 400px;
    border-radius: 15px;
    padding: 15px;
    z-index: 100;

}

.scroll_text_special {

    display: flex;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color-info);
    text-align: center;
    margin-top: 300px;
    border-radius: 15px;
    padding: 15px;
    z-index: 100;
    opacity: 0;

}


.farbverlauf {
    height: 150px;
    background:linear-gradient(to bottom, var(--primary-color-bg) , white );
    margin: 0;
}

.summary_container {
    position: relative;
    
}

.info_text_summary {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    margin-bottom: 100px;
}


.summary {
    padding: 80px 10px 0 20px;
    height: 100%;
    background-color: white;
    color: black;
    
    
    margin-top: -1px;
}

.summary_circles img {
    width: 200px;
}

.summary_container img{
    max-width: 100%;
}

.summary p {
    font-weight: 500;
    text-align: left;
}

.bullet_point_summary {
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
    
}

.bullet_point_summary img {
    margin-top: -20px;
}
